body{
  width: 100%;
  font: 100%/1.5 "Roboto", Verdana, sans-serif;
}

h1{
  font-size: 50px;
  color: white;
  padding-top: 5%;
  padding-left: 3%;
}


h2{
  font-size: 40px;
  color: white;
  padding-top: 20px;
  padding-left: 3%;
}

.ciel{
  background-image: url('../image/Background.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center bottom;
  display:block;
	height:80vh;
	width:100%;
	margin-right:auto;
	margin-left:auto;
  overflow:hidden;
}

.info{
  position: absolute;
  right: 20px;
  width: 100%;
}

.herbe{
  background-image: url('../image/Mario_herbe.png');
  background-repeat: repeat-x;
  background-size: contain;
  height: 64px;
  position: relative;
}

  .tuyau{
    position: absolute;
    right: 0;
    top: -128px;
  }

  .toad{
    position: absolute;
    height: 200px;
    top: -190px;
  }

  #toad-parle{
    display: none;
  }

  .caisse{
    background-image: url('../image/hatena_anime.png');
    background-position: 0px 0px;
    position: absolute;
    height: 64px;
    width: 64px;
    top: -400px;
    animation: caisseAnim 2s infinite step-end;
    animation-direction: reverse;
    cursor: pointer;
  }

  @keyframes caisseAnim {
    0%  {background-position: 0px 0px}
    6%  {background-position: 0px 64px}
    13%  {background-position: 0px 128px}
    19%  {background-position: 0px 192px}
    25%  {background-position: 0px 256px}
    29%  {background-position: 0px 320px}
    38%  {background-position: 0px 384px}
    44%  {background-position: 0px 448px}
    50%  {background-position: 0px 512px}
    56%  {background-position: 0px 576px}
    63%  {background-position: 0px 640px}
    69%  {background-position: 0px 704px}
    75%  {background-position: 0px 768px}
    79%  {background-position: 0px 832px}
    88%  {background-position: 0px 896px}
    94%  {background-position: 0px 960px}
    100%  {background-position: 0px 0px}
  }

  .caisse-pingpong{
    left: 40%;
  }

  .caisse-cuttherope{
    left: 50%;
  }

  .caisse-ikuro{
    left: 60%;
  }

  .caisse-brick{
    left: 70%;
  }

  .caisse-umatch{
    left: 80%;
  }

  .caisse-projet{
    left: 90%;
  }

.terre{
  background-image: url('../image/Mario_terre.png');
  background-repeat: repeat;
  background-size: auto;
  height: calc(20vh - 64px);
}

.descriptionBox{
  position: fixed;
  top: 45%;
  left: 20%;
  background-color: rgba(236, 240, 241, 0.8);
  border-radius: 10px;
  /*height: 300px;*/
  
  width: 40%;
  display: none;
  text-align: center;
  transition: 2s;
}

  .close-logo{
    position: absolute;
    height: 40px;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }

  #open-button, #js{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  a{
    color: white;
  }

p{
  padding-bottom: 10%;
}